/* Nav */
.nav {
  position: fixed;
  top: 90px;     /* imediatamente abaixo do header */
  left: 0;
  width: 100%;
  background-color: #f50c0c;
  padding: 8px 16px;
  display: flex;
  gap: 16px;
  z-index: 999;     /* abaixo do header, acima do conteúdo */
  border-bottom: 1px solid #ccc;
}

.nav a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.nav a:hover {
  text-decoration: underline;
}   